@media (min-width: 768px)
.bannerContainer {
    width: 720px;
    max-width: 100%;
}

@media (min-width: 576px)
.bannerContainer {
    width: 540px;
    max-width: 100%;
}

.bannerContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
